<!DOCTYPE html>
<html>
<head>
	<title>LOCDECK LOGIN</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
    {{{messages}}}

    {{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger col-md-6 col-md-offset-3">{{msg}}</div>
      {{/each}}
    {{/if}}

  <div class="container">
    {{{body}}}
  </div>
  <script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>
