<div class="container">
  <div class="row">
   <div class="col-md-12">
    <div class="panel panel-default">
       <div class="panel-heading">Monitors</div>
         <div class="panel-body">
		    <table class="table">
		    <thead>
		      <tr>
		        <th><input type="checkbox" id="check_all"></th>
		        <th>Name</th>
		        <th>ID</th>
		        <th>Assigned Schedule</th>
		        <th>Default Show</th>
		        <th>Status</th>
		        <th>Actions</th>
		      </tr>
		    </thead>
		    <tbody>

		    </tbody>
		  </table>
		 </div>
	  </div>
	  <div class="footer_monitor">
	    <a class="btn btn-success btn-lg" href="/monitors/new"><span class="fa fa-plus"> </span> Add Monitor</a>
	  </div>
	 </div>
  </div>
</div>